name: Main CI

on:
  pull_request:
  push:
    branches: [main]
  workflow_call:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 20
    environment: dev
    defaults:
      run:
        shell: bash -el {0}
    env:
      CACHE_NUMBER: 0

    steps:
      - name: Checkout git repo
        uses: actions/checkout@v3

      - uses: conda-incubator/setup-miniconda@v2
        with:
          miniforge-version: latest
          activate-environment: vlmrun-hub-py310
          auto-update-conda: true
          python-version: "3.10"
          use-mamba: true

      - name: Get Date
        id: get-date
        run: echo "::set-output name=today::$(/bin/date -u '+%Y%m%d')"
        shell: bash

      # Cache conda env to speed up installation (refreshed daily)
      - name: Cache Conda env
        uses: actions/cache@v4
        with:
          path: ${{ env.CONDA }}/envs
          key:
            conda-vlmrun-hub-py310-${{ hashFiles('requirements*.txt') }}-${{ hashFiles('pyproject.toml') }}-${{
            steps.get-date.outputs.today }}--${{ env.CACHE_NUMBER }}
          restore-keys: |
            conda-vlmrun-hub-py310-
        id: cache

      # Cache pip packages to speed up installation
      - uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: pip-${{ hashFiles('requirements/requirements*.txt') }}-${{ hashFiles('pyproject.toml') }}--${{ env.CACHE_NUMBER }}
          restore-keys: |
            pip-

      - name: Install dependencies
        run: |
          which python
          python -m pip install --upgrade pip
          pip install -e '.[test]'
        if: steps.cache.outputs.cache-hit != 'true'

      - name: Quality Check
        uses: pre-commit/action@v3.0.1
        continue-on-error: true

      - name: Run tests
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        run: |
          make test
